$colorPrimary: #222831;
$colorSecondary: #393E46;
$colorMain: #EEEEEE;
$colorPop: #FD7014;

body {
    background-color: $colorSecondary;
    color: white
}

.navbar {
    background: $colorPop;
    margin-bottom: 25px;
    
}

.nav-item {
    color: white
}

.jumbotron {
    background: $colorPrimary;
    margin: 0px;
    padding: 40px;
    color: white
}

footer {
    background: $colorPrimary;
    color: white;
    margin: 0px;
    padding: 30px
}

.card {
    background: $colorPrimary;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

#covidFree {
    margin-top: 15px;
    margin-bottom: 15px;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.541)
}

.hyperlink {
  color: $colorPop;
  position: relative;
  text-decoration: none;
}

.hyperlink::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: $colorPop;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.hyperlink:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}